<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Admin
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Acasa</a></li>
            <li class="active">Admin</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
         
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
             <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Alergatori</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="doughnut" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
                    </canvas>
                </div>
                <!-- /.box-body -->
            </div><!-- /.box -->

             
            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

              <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Sustinatori</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="doughnut" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
                    </canvas>
                </div>
                <!-- /.box-body -->
            </div><!-- /.box -->
                
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Proiecte</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="doughnut" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
                    </canvas>
                </div>
                <!-- /.box-body -->
            </div><!-- /.box -->

            </section><!-- right col -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->