<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
            Alergatori Cros
          </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Acasa</a></li>
        <li><a href="#">Adulti</a></li>
        <li><a href="#">Cros</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body table-container">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-2">
                                    <p>Filtreaza dupa:</p>
                                </div>
                                <div class="col-sm-2">
                                    <select ng-model="selected.criteria">
                                        <option value="">Alege criteriul...</option>
                                        <option ng-repeat="crit in criteria">{{crit}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control filter-field" placeholder="Introdu numele" ng-show="selected.criteria=='Nume'" ng-model="selected.name">
                                    <input type="text" class="form-control filter-field" placeholder="Introdu prenumele" ng-show="selected.criteria=='Prenume'" ng-model="selected.forname">
                                    <select id="proiectAles" name="proiectAles" type="text" class="form-control filter-field" ng-show="selected.criteria=='Proiect'" ng-model="selected.project">
                                        <option value="">Alege...</option>
                                        <option ng-repeat="project in projects">{{project.proiectID}}</option>
                                    </select>
                                    <select id="platit" name="platit" type="text" class="form-control filter-field" ng-show="selected.criteria=='Platit'" ng-model="selected.payment">
                                        <option value="">Alege...</option>
                                        <option ng-repeat="statusPlata in statusPlati">{{statusPlata}}</option>
                                    </select>
                                    <select id="paymenMethod" name="paymentMethod" type="text" class="form-control filter-field" ng-show="selected.criteria=='Tip plata'" ng-model="selected.paymentMethod">
                                        <option value="">Alege...</option>
                                        <option ng-repeat="paymentMethod in paymentMethods">{{paymentMethod}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p id="highlighted-content">Total alergatori: {{filtered.length}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p id="highlighted-content">Total taxe: {{ getTotal(); }} RON</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 clear-filters">
                                <button class="btn btn-warning" ng-click="export()">Exporta Excel</button>
                            </div>
                        </div>
                        <div class="row" ng-show="selected.criteria!=''">
                            <div class="col-sm-12 active-filters">
                                <div class="col-sm-2">
                                    Filtre active:
                                </div>
                                <div class="col-sm-2" ng-show="selected.name!=''">
                                    <span>Nume : {{selected.name}}</span><span><a type="button" ng-click="selected.name = ''"><i class="fa fa-fw fa-close"></i></a></span>
                                </div>
                                <div class="col-sm-2" ng-show="selected.forname!=''">
                                    <span>Prenume : {{selected.forname}}</span><span><a type="button" ng-click="selected.forname = ''"><i class="fa fa-fw fa-close"></i></a></span>
                                </div>
                                <div class="col-sm-2" ng-show="selected.project!=''">
                                    <span>Proiect : {{selected.project}}</span><span><a type="button" ng-click="selected.project = ''"><i class="fa fa-fw fa-close"></i></a></span>
                                </div>
                                <div class="col-sm-2" ng-show="selected.payment!=''">
                                    <span>Platit : {{selected.payment}}</span><span><a type="button" ng-click="selected.payment = ''"><i class="fa fa-fw fa-close"></i></a></span>
                                </div>
                                <div class="col-sm-2" ng-show="selected.paymentMethod!=''">
                                    <span>Tip plata : {{selected.paymentMethod}}</span><span><a type="button" ng-click="selected.paymentMethod = ''"><i class="fa fa-fw fa-close"></i></a></span>
                                </div>
                                <div class="col-sm-2 clear-filters" ng-show="selected.name!='' || selected.forname!='' || selected.project!='' || selected.payment!='' || selected.paymentMethod!=''">
                                    <span><button class="btn" id="clear-filters" type="button" ng-click="clearFilters()">Sterge toate filtrele</button></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th><a href="#runners/cross" ng-click="sortType = 'alergatorID'; sortReverse = !sortReverse">ID <i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'alergatorID' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'alergatorID' && sortReverse"></i></a></th>
                                            <th><a href="#runners/cross" ng-click="sortType = 'prenume'; sortReverse = !sortReverse">Prenume<i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'prenume' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'prenume' && sortReverse"></i></a></th>
                                            <th><a href="#runners/cross" ng-click="sortType = 'nume'; sortReverse = !sortReverse">Nume<i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'nume' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'nume' && sortReverse"></i></a></th>
                                            <th><a href="#runners/cross" ng-click="sortType = 'categorie'; sortReverse = !sortReverse">Categorie<i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'categorie' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'categorie' && sortReverse"></i></a></th>
                                            <th><a href="#runners/cross" ng-click="sortType = 'proiectAles'; sortReverse = !sortReverse">Proiect<i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'proiectAles' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'proiectAles' && sortReverse"></i></a></th>
                                            <th><a href="#runners/cross" ng-click="sortType = 'confirmat'; sortReverse = !sortReverse">Confirmat<i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'confirmat' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'confirmat' && sortReverse"></i></a></th>
                                            <th><a href="#runners/cross" ng-click="sortType = 'platit'; sortReverse = !sortReverse">Platit<i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'platit' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'platit' && sortReverse"></i></a></th>
                                            <th><a href="#runners/cross" ng-click="sortType = 'tipPlata'; sortReverse = !sortReverse">Tip plata<i class="fa fa-fw fa-chevron-down" ng-show="sortType == 'tipPlata' && !sortReverse"></i><i class="fa fa-fw fa-chevron-up" ng-show="sortType == 'tipPlata' && sortReverse"></i></a></th>
                                            <th>Edit</th>
                                            <th>Dlt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="crossRunner in filtered = (crossRunners  | filter:{nume:selected.name, prenume:selected.forname, proiectAles:selected.project, platit:selected.payment, tipPlata:selected.paymentMethod} | orderBy:sortType:sortReverse)">
                                            <td>{{crossRunner.alergatorID}}</td>
                                            <td>{{crossRunner.prenume}}</td>
                                            <td>{{crossRunner.nume}}</td>
                                            <td>{{crossRunner.categorie}}</td>
                                            <td>{{crossRunner.proiectAles}}</td>
                                            <td>{{crossRunner.confirmat}}</td>
                                            <td>{{crossRunner.platit}}</td>
                                            <td>{{crossRunner.tipPlata}}</td>
                                            <td>
                                                <div class="tools" ng-controller="modalAdultRunnerCtrl">
                                                    <a ng-click="open(crossRunner.alergatorID)"><i class="fa fa-edit edit-icon"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="tools">
                                                    <a ng-click="delete(crossRunner.alergatorID)"><i class="fa fa-trash-o delete-icon"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">ID</th>
                                            <th rowspan="1" colspan="1">Prenume</th>
                                            <th rowspan="1" colspan="1">Nume</th>
                                            <th rowspan="1" colspan="1">Categorie</th>
                                            <th rowspan="1" colspan="1">Proiect</th>
                                            <th rowspan="1" colspan="1">Confirmat</th>
                                            <th rowspan="1" colspan="1">Platit</th>
                                            <th rowspan="1" colspan="1">Tip plata</th>
                                            <th rowspan="1" colspan="1">Edit</th>
                                            <th rowspan="1" colspan="1">Dlt</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 clear-filters">
                                <button class="btn btn-warning" ng-click="export()">Exporta Excel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->